<div ng-controller="EntityCtrl" style="padding: 30px;">
  <div style="float: right; width: 500px; height: 200px; border: 1px solid #79c634;">
  </div>
  <h1 style="margin-bottom: 3px;">{{name}}</h1>
  <p style="color: #79c634; font-size: 25px;">{{transactions.last().netWorth()}}</p>
  <div style="clear: both; height: 50px;"></div>
  <ul class="nav nav-tabs">
    <li ng-class="{active: subpage == 'accounts'}"><a ng-click="subpage = 'accounts'">Accounts</a></li>
    <li ng-class="{active: subpage == 'ledger'}"><a ng-click="subpage = 'ledger'">Ledger</a></li>
    <li ng-class="{active: subpage == 'graphs'}"><a ng-click="subpage = 'graphs'">Graphs</a></li>
  </ul>

  <div style="margin-left: auto; margin-right: auto; width: 70%" ng-switch on="subpage">

    <div ng-switch-when="accounts" ng-switch on="editing">
      <div ng-switch-default>
        <h2>Assets and Liabilities</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Account</th>
              <th>Change</th>
              <th>New Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="account in accounts">
              <td>
                <i ng-show="account.children.length() > 0" class="icon-play" ng-click="toggle()"
                   ng-style="{ triangleOpen: open }"></i>
              </td>
              <td><a href="#">{{account.name}}</a></td>
              <td></td>
              <td>{{account.balance}}</td>
            </tr>
          </tbody>
        </table>
        <h2>Income and Expenses</h2>
          <a ng-click="edit()" class="btn" style="float:right">Edit</a>
      </div>

      <div ng-switch-when="true">
        <h2>Assets and Liabilities</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Account</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="account in accounts">
              <td>
                <i ng-show="account.children.length() > 0" class="icon-play" ng-click="toggle()"
                   ng-style="{ triangleOpen: open }"></i>
              </td>
              <td>
                <span ng-switch on="editing">
                  <input ng-switch-when="true" data-bind="value: name, hasfocus: editing, event: { keyup: onKeyUp }"></input>
                  <span ng-switch-default data-bind="text: name, click: function() { editing(true); }"></span>
                </span>

                <span ng-switch on="account.empty">
                  <a ng-switch-when="true" href="#" ng-click="deleteAccount()">
                    <i class="icon-trash"></i>
                  </a>

                  <button ng-switch-default title="Can't delete">
                  <!--  Popovers in angular.ui appear broken right now:
                    button popover-trigger="mouseenter"
                    popover="To delete an account you must first delete all its transactions."
                    title="Can't delete"-->
                    <i class="icon-trash" style="opacity: 0.4;"></i>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <p><a ng-click="newAccount()" class="btn">New Account</a></p>
        <h2 style="clear:both">Income and Expenses</h2>
        <a ng-click="finishEdit()" class="btn btn-primary" style="float:right">Done</a>
      </div>
    </div>
  </div>
</div>
