/* Visual design is not my forte, so ths is not particularly beautiful right
 * now */

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

a:hover {
  cursor: pointer;
}

.amount, .balance {
  text-align: right !important;
}

body {
  padding-top: 60px;
  width: 60%;
  margin: auto;
}

#nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

#nav li:before {
  content: "\2192\00a0\00a0";
  margin-right: 7px;
  color: white;
  display: run-in;
}

#nav > li {
  display: block;
  float: left;
}
#nav > li > a {
  display: block;
  float: none;
  padding: 10px 7px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
#nav .active > a, #nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

.triangleOpen {
  -webkit-transform: rotate(90deg);
}
